lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results

node_modules/
test_output/
.vagrant/
env/
lib/

.DS_Store
.idea
*.iml

*.sublime*
*.sublime-project
*.sublime-workspace
*.cache
*.mpc
