lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results

node_modules/
test/
utils/

docker-compose.yml
wercker.yml

.vim.custom
.gitignore
.npmignore
.jshintrc
.DS_Store
.idea
*.iml

*.sublime*
*.sublime-project
*.sublime-workspace
